* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Material Icons';
  src: url('./fonts/MaterialSymbolsRounded-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --sidebar-color: hsl(0, 50%, 94%);
  --sidebar-hover: hsl(0, 20%, 84%);
  --button-red: hsl(0, 50%, 54%);
  --button-hover: hsl(0, 50%, 44%);
  --page-font: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  --priority-0: hsl(0, 82%, 59%);
  --priority-1: hsl(24, 88%, 62%);
  --priority-2: hsl(61, 72%, 72%);
  --priority-3: hsl(113, 78%, 74%);
  --priority-4: hsl(197, 88%, 62%);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 20rem 1fr;
  justify-items: center;
}

#sidebar {
  width: 20rem;
  display: grid;
  justify-items: center;
  align-items: start;
  background: var(--sidebar-color);
  padding-top: 5rem;
}

.nav {
  display: grid;
  grid-template-rows: repeat(auto-fit, 3rem);
  height: 100%;
  width: 100%;
  justify-items: start;
  align-items: center;
}

.navbutton {
  border: none;
  border-radius: 0.25rem;
  background: inherit;
  width: 100%;
  height: 100%;
  text-align: start;
  padding-left: 5rem;
  font-family: var(--page-font);
  font-size: 1rem;
  color:hsl(0, 0%, 20%);
}

.navbutton:hover {
  background: var(--sidebar-hover);
  cursor: pointer;
}

.dropdown {
  font-family: 'Material Icons';
}

.container {
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-auto-rows: min-content;
  justify-items: start;
  align-items: start;
  gap: 1rem;
  padding: 5rem 10rem;
  width: 60rem;
}

#content {
  display: grid;
  grid-template-rows: 5rem repeat(auto-fit, minmax(0, 5rem));
  justify-items: start;
  align-items: center;
  font-family: var(--page-font);
}

.pageheading {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.taskcard, .projectcard {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  justify-self: center;
  align-items: center;
  gap: 1rem;
  width: 40rem;
  height: 5rem;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.taskcontent {
  display: grid;
  grid-template-rows: repeat(3, 1.5rem);
  align-self: start;
  align-items: start;
}

.nodesc {
  height: 3.5rem;
}

.nodesc .taskcontent{
  grid-template-rows: repeat(2, 1.5rem);
}

.todoname {
  overflow-y: auto;
  font-size: 1rem;
}

.tododuedate {
  font-size: 0.8rem;
  color: red;
}

.tododesc {
  text-overflow: ellipsis;
  font-size: 0.8rem;
  color: gray;
  margin-top: 0.25rem;
}

.parentproject {
  align-self: end;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
}

/* .highestpriority {
  border: 3px solid var(--priority-0);
}

.highpriority {
  border: 3px solid var(--priority-1);
}

.mediumpriority {
  border: 3px solid var(--priority-2);
}

.lowpriority {
  border: 3px solid var(--priority-3);
}

.lowestpriority {
  border: 3px solid var(--priority-4);
} */

.addcontainer {
  display: grid;
  grid-template-columns: 2rem 7rem;
  justify-items: start;
  align-items: center;
  font-family: var(--page-font);
}

#add {
  display: grid;
  height: 1.75rem;
  width: 1.75rem;
  border: none;
  border-radius: 1rem;
  font-family: 'Material Icons';
  font-size: 1.5rem;
  color: hsl(0, 0%, 20%);
  background: white;
}

.addcontainer:hover {
  cursor: pointer;
  font-weight: 700;
}

.taskinput, .projectinput {
  display: grid;
  top: 10vh;
  left: 50%;
  width: 40rem;
  display: grid;
  grid-template-rows: 2rem 1fr 3rem;
  justify-items: start;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.taskinput {
  height: 25rem;
}

.projectinput{
  height: 22rem;
}

.inputtop {
  display: grid;
  grid-template-columns: 1fr 2rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formlabel {
  justify-self: start;
  height: 100%;
  font-family: var(--page-font);
  font-size: 1rem;
  font-weight: 700;
}

.closebtn {
  justify-self: end;
  width: 2rem;
  height: 2rem;
  margin-right: -1rem;
  margin-top: -1rem;
  border: none;
  background: white;
  color: var(--button-red);
  font-size: 2rem;
}

.closebtn:hover {
  font-weight: 700;
  cursor: pointer;
  color: var(--button-hover);
}

.taskform, .projectform {
  display: grid;
  justify-items: start;
  align-items: start;
  justify-self: start;
  font-family: var(--page-font);
}

.taskform, .projectform {
  grid-template-columns: 7rem 1fr;
}

.taskform {
  grid-template-rows: 3rem 6rem 3rem 3rem 3rem;
}

.projectform {
  grid-template-rows: 3rem 6rem 3rem 3rem;
}

label {
  margin-top: 0.25rem;
}

.nameinput, .dateinput {
  appearance: none;
  background: white;
  height: 2rem;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--page-font);
}

.nameinput {
  width: 25rem;
}

.dateinput {
  width: 10rem;
}

.dateinput:hover {
  cursor: pointer;
}

.textarea {
  padding: 0.25rem;
}

.select {
  border: 1px solid black;
  border-radius: 5px;
  height: 2rem;
  min-width: 2.5rem;
  background: white;
  padding: 0 0.25rem;
  font-family: var(--page-font);
}

.textarea, .input, .select {
  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--page-font);
}

.nameinput:focus-visible, .dateinput:hover, .textarea:focus-visible, .select:focus-visible {
  outline: none;
}

.nameinput:hover, .dateinput:hover, .textarea:hover, .select:hover {
  background: hsl(0, 0%, 95%);
}

.nameinput:focus, .dateinput:focus, .textarea:focus, .select:focus {
  border: 1px solid blue;
  background: white;
}

.submitbtn {
  justify-self: end;
  align-self: start;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: var(--button-red);
  font-family: var(--page-font);
  font-weight: 700;
  color: white;
}

.submitbtn:hover {
  cursor: pointer;
  background: var(--button-hover);
}